<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hotel-Reservation</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="d-flex flex-column h-100">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/guests">
                Guests
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/rooms"> 
                Rooms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/rooms-amenities">
                Room Amenities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/services">
                Services
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/book">
                Booking
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bills">
                Bills
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/amenities">
                Amenities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/types">
                Room Types
            </NavLink>
        </div>

        <div class="flex-grow-1"></div>
    </nav>
</div>
