@page "/"

<PageTitle>Home</PageTitle>

<div class="m-5">
    <div class="jumbotron">
        <h1 class="display-4">Hotel Reservation</h1>
        <p class="lead">a simple platform for booking and managing hotel rooms, amenities, services and bills</p>
    </div>

    <Carousel />
</div>